.bookshelf {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: -1em;
}

.bookshelf-book {
	padding: 1.2em 0 0.6em;
}
.bookshelf-book:after {
	content: '';
	display: block;
	clear: left;
}

.bookshelf-book-cover {
	max-height: 10em;
	max-width: 7em;
	margin: 0 .8em .8em 0;
	
	border: 1pt solid gray;
	box-shadow: .12em .12em .08em .04em #999;
}

.bookshelf-book-info {
	margin-bottom: .8em;
}
.bookshelf-book-info-title {
	margin-bottom: 0;
	margin-top: 0;
}
.bookshelf-book-info-authors {
	margin-bottom: 0;
	margin-top: .5em;
}
.bookshelf-book-info-publication {
	margin-top: .5em;
	font-size: 80%;
}

.bookshelf-raiting-outer, .bookshelf-raiting-inner {
	display:inline-block;
}
.bookshelf-raiting-outer {
	width: 80px; /* 16*5 */
	height: 16px;
	background: url("../img/star-gray.png");
	background-size: 20% 100%;
}
.bookshelf-raiting-inner {
	height: 16px;
	background: url("../img/star.png");
}
.bookshelf-review {
	font-size: 80%;
	font-style: italic;
	
	margin-top: 0;
}

.bookshelf-name:before { content: '«'; }
.bookshelf-name:after { content: '»'; }
.bookshelf-year:after { content: ' г.'; }
.bookshelf-pages:after { content: ' стр.'; }

@media screen and (min-width: 950px) { /* 2 cols */
	.bookshelf {
		margin-left: -1%;
		padding-left: 2%;
		padding-right: 2%;
	}
	.bookshelf-book {
		display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline;

		width: 47.33%;
		margin-left: 2%;

		min-height: 11em;
		padding-top: 2em;
	}
}
@media screen and (max-width: 949px) { /* 1 col */
	.bookshelf {
		padding-left: 3%;
		padding-right: 3%;
	}
	.bookshelf-book:last-child .bookshelf-book-cover {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 500px) {
	.bookshelf {
		padding-left: 1%;
		padding-right: 1%;
	}
}
@media screen and (min-width: 1450px) { /* 3 cols */
	.bookshelf-book {
		width: 30.7%;
	}
}